/*


    Edwin Patrick Cesar
    edwinpjdcesar@gmail.com
    edwincesar.com


*/


/* custom edits */
body {
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    overflow:hidden;
}
.center {
    margin-right:auto;
    margin-left:auto;
}  
.txt-c {
    text-align:center;
}
.txt-l {
    text-align:left;
}
.ghost, .back, .right, .left {
    visibility:hidden;
}
.heading {
    font-size:96px;
}
.minor-heading {
    font-size:60px;
}
.petite-heading {
    font-size:48px;
}
.icon {
    font-size:96px;
}
.link {
    position:absolute;
}
.translation {
    font-size:12px;
}
.form {
    margin-top:60px;
}
.mock {
    border:none;
}
/* margins */
.xs-marg-t {
    margin-top:24px;
}

/* padding */
.xs-pad-b {
    padding-bottom:24px;
}
.sm-pad-b {
    padding-bottom:48px;
}
.xs-pad-t {
    padding-top:24px;
}
.sm-pad-t {
    padding-top:48px;
}

/* bootstrap edits */
.animated {
    visibility:visible !important;
}
.valid {
    margin-bottom:-12px;
}
.error {
    color:red;
    margin:0;
}
textarea {
    resize:none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn {
    width:20%;
}
.navbar-fixed-top {
  position: relative;
}
.navbar-nav {
    font-size:36px;
}
.navbar-nav > li > a {
    padding-left:24px;
    padding-right:24px;
    visibility:hidden;
}
.navbar-collapse {
    text-align:center;
}
.page-header {
    padding-top:100px;
    padding-bottom:450px;
}
.panel-title > a:hover, a:focus {
    text-decoration:none;
}