/*
    Edwin Patrick Cesar
    edwinpjdcesar@gmail.com
    edwincesar.com
*/

html {
    display: table;
    margin: auto;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.center {
    margin-right:auto;
    margin-left:auto;
}

.txt-c {
    text-align:center;
}
    .txt-l {
        text-align:left;
    }

.ghost, .back, .right, .left {
    visibility:hidden;
}

.heading {
    font-size:96px;
}
    .minor-heading {
        font-size:60px;
    }
    .petite-heading {
        font-size:48px;
    }
    .list-heading {
        font-size:24px;
    }

.greeting span {
    font-size 12px;
    font-style: italic;
}

.together { display:table; }

.thick { font-weight:bold; }

.icon { font-size:96px; }

.list { list-style-type:none; }

.link {
    position:absolute;
}
    .link a:hover {
        cursor: not-allowed;
    }

.form { margin-top:60px; }

.mock { border:none; }

.list-unstyled > li { padding-bottom:2px; }

.chunky {
    max-height:400px;
    overflow-y:scroll;
}

.vertical {
    display:table-cell;
    height:500px;

    width:350px;
    background-color:green;
    border-radius: 25px;
}

table tr td > a:hover, a:focus { text-decoration:none !important; }

/* margins */
.xs-marg-t {
    margin-top:24px;
}

/* padding */
.xs-pad-b {
    padding-bottom:24px;
}
    .sm-pad-b {
        padding-bottom:36px;
    }

.xs-pad-t {
    padding-top:24px;
}
    .sm-pad-t {
        padding-top:48px;
    }

/* specifics */
.translate {
    font-size:36px;
    color:lightblue;
    cursor:pointer;
    max-width:40px;

    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
    .translate:hover {
        color:orange;
    }

/* google maps */
.map {
    display:block;
    height:200px;
    width:80%;
    background-color: #808080;
    border:1px solid;
    margin:25px 0;
}

/* bootstrap edits */
.animated {
    visibility:visible !important;
}
.valid {
    margin-bottom:-12px;
}
.error {
    color:red;
    margin:0;
}
textarea {
    resize:none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn {
    width:20%;
}
.navbar-fixed-top {
  position: relative;
}
.navbar-nav {
    font-size:36px;
}
.navbar-nav > li > a {
    padding-left:24px;
    padding-right:24px;
    visibility:hidden;
}
.navbar-collapse {
    text-align:center;
}
.page-header {
    border-bottom: none !important;
}
.panel-title > a:hover, a:focus {
    text-decoration:none;
}
