/*
    Edwin Patrick Cesar
    edwinpjdcesar@gmail.com
    edwincesar.com
*/

html, body {
    height: 100vh;
}
    html {
        display: table;
        margin: auto;
    }
    body {
        font-family: Arial, Helvetica, sans-serif !important;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }

.center {
    margin-right:auto;
    margin-left:auto;
}

.txt-c {
    text-align:center;
}

.heading {
    font-size:96px;
}

.headliner span {
    font-size: 10px !important;
    font-style: italic;
}

.links .fa {
    font-size:14px;
    margin: 2.5px;
    color: black;
}
    .links .fa:hover {
        font-weight: bold;
        cursor: pointer;
    }

li a {
    position:absolute;
}
    li a:hover {
        cursor: not-allowed;
    }
    li a .fa {
        margin-right: 8px;
    }

/*
    Margin
*/
.xs-marg-t {
    margin-top:24px;
}

/*
    Padding
*/
.xs-pad-b {
    padding-bottom:24px;
}
    .sm-pad-b {
        padding-bottom:36px;
    }

.xs-pad-t {
    padding-top:24px;
}
    .sm-pad-t {
        padding-top:48px;
    }
    .md-pad-t {
        padding-top:60px;
    }

/*
    Bootstrap edits (not including direct changes to CSS files)
*/
.animated {
    visibility:visible !important;
}

.navbar-fixed-top {
    position: relative;
}

.navbar-nav {
    font-size:36px;
}
    .navbar-nav > li > a {
        padding-left:24px;
        padding-right:24px;
        visibility:hidden;
    }

.navbar-collapse {
    text-align:center;
}

.page-header {
    border-bottom: none !important;
}

.panel-title > a:hover, a:focus {
    text-decoration:none;
}
